# Official K150: ESP32-S3-PICO-1-N8R8; PSRAM intentionally not required.
CONFIG_EV_BOARD_CONFIRMED=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_28=y
